@{
    ViewData["Title"] = "Profile";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <br /><br />
    <a class="text-decoration-none" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><h4 class="Button">Manage your account</h4></a>
    <br /><br /><a class="text-decoration-none" asp-area="" asp-controller="Home" asp-action="FoundsManage"><h4 class="Button">Founds Manage</h4></a>
    if (User.IsInRole("Admin"))
    {
<br /><br />  <a class="text-decoration-none" asp-area="" asp-controller="Admin" asp-action="Index"><h4 class="Button">Admin Page</h4></a>
    }

}
else
{
    <h1>You are not Signed in</h1>
}
