@{
    ViewData["Title"] = "Profile";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Manage your account</a>
    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="FoundsManage">Founds Manage</a>
    if (User.Identity.Name.Equals("admin@admin.admin"))
    {
        <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index">Admin Page</a>
    }

}
else
{
    <h1>You are not Signed in</h1>
}
