################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/VAII/.vs/VAII/v16
/VAII/VAII/obj/Debug/netcoreapp3.1
/VAII/VAII/obj
