input.margin-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.clickable{
    cursor: pointer;
}

td {
    max-height: 38px;

}

.col-logo{
    position: relative;
    padding : 0px !important;
    width : 62px;
    height: 62px;
}

.col-btn {
    width: 51.6px;
    height: 51.6px;
}

.col-logo img {
    position: absolute;
    max-width : 62px;
    max-height: 62px;
    margin: 0;
    right: 0;
    bottom: 0;
}

.float-right-min780{
}
.float-left-min780 {
}
@media (min-width: 780px) {
    .float-right-min780 {
        float: right !important;
    }
    .float-left-min780 {
        float: left !important;
    }
}
.none {
    display: none;
}

.none-991 {
}
@media (max-width: 991.98px) {
    .none-991 {
        display: none;
    }
}

.vypln {
    margin: 0px;
    padding: 0px;
    height: 58px;
}

.remove-animation {
    opacity: 1;
    -webkit-transition: 500ms linear;
    transition: 500ms linear;
}

.logo{
    position: absolute;
    top: 0;
    left: 0;
    max-height:46px;
    max-width: 46px;
}


:root {
    --color: rgba(255, 255, 255, 0.5);
    --bg-color: #002b36;
}

.Button {
    text-align: center;
    font-weight: bold;
    position: relative;
    color: var(--color);
    cursor: pointer;
    padding: 10px;
    overflow: hidden;
    -webkit-box-reflect: below 0 linear-gradient(transparent, #0002);
    user-select: none;
    background: var(--bg-color);
    text-decoration: none;
}
    .Button:hover,
    .Button:active,
    .Button:checked {
        text-decoration: none;
        background: var(--color);
        color: var(--bg-color);
        box-shadow: 0 0 50px var(--color);
        transition-delay: 0.4s;
        transition-duration: 0.1s;
    }

    .Button:before,
    .Button:after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        border: solid var(--color);
        transition: 0.5s;
    }

    .Button:before {
        top: 0;
        left: 0;
        border-bottom: 1px;
        border-right: 1px;
    }

    .Button:after {
        bottom: 0;
        right: 0;
        border-top: 1px;
        border-left: 1px;
    }

    .Button:hover:before,
    .Button:hover:after {
        width: 100%;
        height: 100%;
    }