@model List<string>

@{
    ViewData["Title"] = "Admin Page";
}

@if (User.IsInRole("Admin")) //pre istotu
{
    <script>
        function CallDeleteUser(s) {
            if (confirm("Really want delete " + s + "?")) {

                var xhttp = new XMLHttpRequest();
                var element = document.getElementById("li-" + s);

                xhttp.open("DELETE", "https://localhost:44371/api/AdminApi/" + s);
                xhttp.send();
                element.style.opacity = 0;
                setTimeout(() => element.remove(), 500);
            }

        }
    </script>
    <h2>Other users:</h2>
    <ul class="list-group list-group-flush">
        @foreach (var s in Model)
        {
            <li id="li-@s" class="list-group-item remove-animation">@s <button class="btn btn-warning float-right" onclick="CallDeleteUser('@s')">DELETE</button></li>
        }
    </ul>
}