@model List<string>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <h3>Users emails:</h3>

    if (User.Identity.Name.Equals("admin@admin.admin"))
    {
    <ul class="list-group list-group-flush">
        @foreach (var s in Model)
        {
            <li class="list-group-item">@s</li>
        }
    </ul>
    }
    else
    {
        <h1>Error</h1>
    }
}
else
{
    <h1>Error</h1>
}
